<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Food at Home CPI</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<nav class="navbar">
			<a href="{{ url_for('index') }}">Table</a>
			<a href="{{ url_for('chart') }}">Chart</a>
		</nav>
		<h1>Chart</h1>

		<input
			type="text"
			id="series-input"
			placeholder="Enter series names"
			value="Food at home, Beef and veal, Uncooked ground beef, Uncooked beef roasts"
		/>
		<button id="fetch-data-button">Get Data</button>

		<div id="chart-container">
			<svg id="bar-chart"></svg>
		</div>

		<!-- Load external JS -->
		<script src="https://d3js.org/d3.v7.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
