<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Food at Home CPI</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav class="navbar">
			<a href="{{ url_for('index') }}">Table</a>
			<a href="{{ url_for('chart') }}">Bar Chart</a>
		</nav>

		<input
			type="text"
			id="series-input"
			placeholder="Enter series names"
			value="Food; Food at home; Cereals and bakery products; Meats, poultry, fish, and eggs; Meats, poultry, and fish; Meats; Fruits and vegetables; Nonalcoholic beverages and beverage materials; Other food at home; Alcoholic beverages; Frozen vegetables"
		/>

		<div class="seasonal-adjustment">
			<label class="switch">
				<input type="checkbox" id="seasonal-toggle" />
				<span class="slider"></span>
			</label>
			<span>Seasonally Adjusted</span>
		</div>

		<button id="fetch-data-button">Get Data</button>

		<div id="cpi-table"></div>

		<script src="https://d3js.org/d3.v7.min.js"></script>
		<script src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<script src="{{ url_for('static', filename='table.js') }}"></script>
	</body>
</html>
