<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Food at Home CPI</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<nav class="navbar">
			<a href="{{ url_for('index') }}">Table</a>
			<a href="{{ url_for('chart') }}">Bar Chart</a>
		</nav>

		<input
			type="text"
			id="series-input"
			placeholder="Enter series names"
			value="Food at home, Beef and veal, Uncooked ground beef, Uncooked beef roasts"
		/>

		<div class="seasonal-adjustment">
			<label class="switch">
				<input type="checkbox" id="seasonal-toggle" />
				<span class="slider"></span>
			</label>
			<span>Seasonal Adjustment</span>
		</div>

		<button id="fetch-data-button">Get Data</button>

		<table id="cpi-table" border="1">
			<thead>
				<tr>
					<th>Year</th>
					<th>Period</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<!-- Load external JS -->
		<script src="https://d3js.org/d3.v7.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
